{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "semistandard"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 80,
      "ignorePattern": "^(import|export)\\s.+\\sfrom\\s.+;$",
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }]
  },
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "should": true,
    "beforeEach": true,
    "afterEach": true,
    "test": true,
    "expect": true,
    "cy": true
  },
  "overrides": [
    {
      "files": "*.ts",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "semistandard"
      ]
    },
    {
    "files": "*.{test,spec}.js",
    "rules": {
      "no-unused-expressions": "off",
      "max-len": ["error", {
        "code": 80,
        "ignorePattern": "(^| +)it[(]|^(import|export)\\s.+\\sfrom\\s.+;$",
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }]
    }
  }]
}
