body {
  margin: 25px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.35;
}

textarea {
  width: 350px;
  box-sizing: content-box;
  border: 1px solid #999;
  border-radius: 0px;
  padding: 5px;
  font: inherit;
  text-align: left;
  appearance: none;
}

textarea:focus {
  outline: none;
  border-color: #666;
}

.larger {
  font-size: 24px;
}